{% extends 'Base.html' %}

    {% block page-title %} DashBoard {% endblock %}        
    
    {% block content %}
    
        <div class="row">
            <h2 style="color: whitesmoke; text-align: center;"> Welcome {{ name }}!!! </h2>
            <button style="top: 0; right: 0; position: absolute;" class="submit-btn"></button>
        </div> 
 
        {% for movie in movies %}
            {% for m in movie_custom %}
                <div class="row">                     
                    <div class="column">
                        {% if movie.name == m.name %}
                            <img src="{{ m.poster.url }}" height="400" width="200">
                        {% endif %}
                    </div>
                    <div class="column">
                        {% if movie.name == m.name %}
                            <h4 style="color: whitesmoke; text-align: center;"> {{ m.name }} </h4>
                        {% endif %}
                    </div>
                </div>
            {% endfor %} 
        {% endfor %}
                
    {% endblock %}