{% extends 'Base.html' %}

{% block page-title %} Home {% endblock %}        
    
    {% block content %}
    <div class="flex-container">
        <div class="content-container">

            <br><br><br><br><br>
            <div class="log_in" style="left: 40px;">
                <a href="http://127.0.0.1:8000/admin/"><i class="material-icons" style="font-size: 100px;color: white;">account_circle</i></a>
                <h2 style="color: ivory;">ADMIN</h2>
            </div>
            
            <div class="log_in" style="left: 100px;">
                <a href="LoginPage.html"><i class="material-icons" style="font-size: 100px;color: white;">account_circle</i></a>
                <h2 style="color: ivory;">USER</h2>
            </div>
        </div>
    </div>

    {% endblock %}
