{% extends 'Base.html' %}

    {% block page-title %} Login {% endblock %}        
    
    {% block content %}
    
        <div class="flex-container">
            <div class="content-container">

                {% if message %}
                    {{ message }}
                {% endif %}

                <div class="form-container">
                    
                <form action="{% url 'login' %}" method="post" name="form">
                    {% csrf_token %}

                    <h1> Login </h1>
                    <br> 
                    <span class="subtitle">USERNAME:</span>
                    <br>
                    <input type="text" name="username" value="">
                    <br>
                    <span class="subtitle">PASSWORD:</span>
                    <br>
                    <input type="password" name="password" value="">
                    <br><br>
                    <input type="submit" value="SUBMIT" class="submit-btn">
                    <br><br>
                    
                </form>

                <a href="SignupPage.html" target="_self">Do not have an account? </a>

                </div>
            </div>
        </div>
    {% endblock %}
