{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="{% static 'Styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'StyleJS.js' %}"></script>

</head>
<body>

    {% if message %}
        {{ message }}
    {% endif %}

    <form class="form-signin" action="{% url 'facedet' %}" method="post" name="signup-form"> 
        {% csrf_token %}

        <label for="fname">First name</label>
        <input class="form-styling" type="text" name="fname" placeholder="" />

        <label for="lname">Last name</label>
        <input class="form-styling" type="text" name="lname" placeholder="" />

        <label for="email">Email ID</label>
        <input class="form-styling" type="email" name="email" placeholder="" />

        <label for="username">Username</label>
        <input class="form-styling" type="text" name="username" placeholder="" /> 
        
        <label for="password">Password</label> 
        <input class="form-styling" type="password" name="password" placeholder="" /> 

        <div class="btn-animate"> <input type = "submit" value="Proceed for face recognition" class="btn-singin"> </div>
    </form>
                
</body>
</html>