{% extends 'Base.html' %}

    {% block page-title %} Login {% endblock %}        
    
    {% block content %}
    
        <div class="flex-container">
            <div class="content-container">

                {% if message %}
                    {{ message }}
                {% endif %}

                <div class="form-container">
                    
                <form action="{% url 'facedet' %}" method="post" name="signup-form">
                    {% csrf_token %}

                    <h1> Sign Up </h1>
                    <br> 
                    <span class="subtitle">FIRST NAME:</span>
                    <br>
                    <input type="text" name="fname" value="">
                    <br>
                    <span class="subtitle">LAST NAME:</span>
                    <br>
                    <input type="text" name="lname" value="">
                    <br>
                    <span class="subtitle">EMAIL:</span>
                    <br>
                    <input type="email" name="email" value="">
                    <br>
                    <span class="subtitle">USERNAME:</span>
                    <br>
                    <input type="text" name="username" value="">
                    <br>
                    <span class="subtitle">PASSWORD:</span>
                    <br>
                    <input type="password" name="password" value="">
                    <br><br>
                    <input type="submit" value="Proceed for Face Recognition" class="submit-btn">
                    <br>
                    
                </form>

                </div>
            </div>
        </div>
    {% endblock %}
